[user]
	name = Peter VandeHaar
	email = pjvandehaar@gmail.com
[push]
	default = current # this means `simple` in modern versions
[fetch]
	prune = true # delete `origin/branch1` locally if it's gone from the remote
[core]
	excludesfile = ~/.gitignore_global
	abbrev = 5 # 5 char hashes
[alias]
	cdiff = -c color.diff.new='yellow reverse' -c color.diff.old='red reverse' diff --color-words=.
	wdiff = -c color.diff.new='yellow reverse' -c color.diff.old='red reverse' diff --word-diff=color
	glog = log --graph --decorate --abbrev-commit
	glogstat = log --format=format:'%C(yellow)%h%C(reset) %C(magenta)(%ad)%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) %C(magenta)%an%C(reset)' --graph --date=short --name-status
	lol = "!~/dotfiles/third-party/git-forest --reverse --pretty=format:'%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s'"
	please = push --force-with-lease # check that we've fetched first
	commend = commit --amend --no-edit
	git = !git
[diff]
	algorithm = patience
[merge]
	tool = emerge
	conflictstyle = diff3
[rebase]
	autosquash = true
	autostash = true
[color]
	ui = true
[pager]
	status = true
	# the interaction of less and diff-highlight causes problems with line-wrapping.
	# if you want wrapped lines, just pipe into `less`.
	diff = ~/dotfiles/bin/diff-highlight | less -SR
	lol = less +G -RS
[diff "gz"]
	textconv = zcat
[diff "bam"]
	textconv = samtools view -h
[diff "bcf"]
	textconv = htsfile -c

# OS-specific:
[credential]
	helper = osxkeychain
