[user]
	name = Peter VandeHaar
	email = <<removed>>
[credential]
	helper = osxkeychain
[push]
	deault = simple
	default = simple
[core]
	excludesfile = /Users/peter/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/peter/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	cdiff = diff --color-words=.
[diff]
	algorithm = patience