[user]
	name = Peter VandeHaar
	email = pjvandehaar@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = current # this means `simple` in modern versions
[core]
	excludesfile = /Users/peter/.gitignore_global
[alias]
	cdiff = diff --color-words=.
	wdiff = diff --word-diff
[diff]
	algorithm = patience
[merge]
	tool = emerge
[color]
	ui = true
