[user]
	name = Peter VandeHaar
	email = pjvandehaar@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = current # this means `simple` in modern versions
[core]
	excludesfile = /Users/peter/.gitignore_global
[alias]
	cdiff = diff --color-words=.
	wdiff = diff --word-diff
	glog = log --decorate --branches --abbrev-commit
	lol = log --decorate --branches --abbrev-commit --pretty=oneline
[diff]
	algorithm = patience
[merge]
	tool = emerge
[color]
	ui = true
[pager]
	status = true
[diff "gz"]
	textconv = zcat
