[user]
	name = Peter VandeHaar
	email = pjvandehaar@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = current # this means `simple` in modern versions
[core]
	excludesfile = /Users/peter/.gitignore_global
[alias]
	cdiff = -c color.diff.new='yellow reverse' -c color.diff.old='red reverse' diff --color-words=.
	wdiff = -c color.diff.new='yellow reverse' -c color.diff.old='red reverse' diff --word-diff=color
	glog = log --graph --decorate --abbrev-commit
	lol = log --format=format:'%C(yellow)%h%C(reset) %C(magenta)(%ad)%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) %C(magenta)%an%C(reset)' --graph --date=short
[diff]
	algorithm = patience
[merge]
	tool = emerge
[color]
	ui = true
[pager]
	status = true
[diff "gz"]
	textconv = zcat
