[user]
	name = Peter VandeHaar
	email = <<removed>>
[push]
	default = current # this means `simple` in modern versions
[core]
	excludesfile = ~/.gitignore_global
#	pager = less -r
[alias]
	cdiff = diff --color-words=.
	wdiff = diff --word-diff
[diff]
	algorithm = patience
	tool = emerge
[color]
	ui = true
# [pager]
#	status = true
